# Replace this file with a real sealed secret generated using kubeseal.
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: backup-s3-credentials
  namespace: postgres-prod
spec:
  encryptedData:
    ACCESS_KEY_ID: REPLACE_WITH_SEALED_VALUE
    ACCESS_SECRET_KEY: REPLACE_WITH_SEALED_VALUE
  template:
    metadata:
      name: backup-s3-credentials
      namespace: postgres-prod
    type: Opaque
