---
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: discord-notifications
  namespace: monitoring
  labels:
    alertmanagerConfig: main
spec:
  route:
    receiver: discord
    groupBy: ['alertname', 'namespace']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 3h
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: Watchdog
            matchType: "="
  receivers:
    - name: discord
      discordConfigs:
        - apiURL:
            key: url
            name: alertmanager-discord-webhook
          sendResolved: true
    - name: "null"
