apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo-runner
data:
  config.yaml: |
    log:
      level: info

    runner:
      file: .runner
      capacity: 2
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
      labels:
        - "docker:docker://node:20-bookworm"
        - "ubuntu-latest:docker://catthehacker/ubuntu:act-latest"
        - "ubuntu-22.04:docker://catthehacker/ubuntu:act-22.04"
      envs:
        DOCKER_HOST: unix:///var/run/docker.sock

    cache:
      enabled: false

    container:
      network: ""
      privileged: false
      docker_host: unix:///var/run/docker.sock
      valid_volumes: []
      options: ""
      workdir_parent: ""

    host:
      workdir_parent: ""
