---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo-runner
data:
  config.yaml: |
    log:
      level: info
    runner:
      file: /data/.runner
      capacity: 1
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
      labels:
        - "ubuntu-latest:docker://catthehacker/ubuntu:act-latest"
        - "docker:docker://catthehacker/ubuntu:act-latest"
    cache:
      enabled: true
      external_server: http://actions-cache-server.forgejo-runner.svc.cluster.local:3000/
    container:
      network: ""
      privileged: false
      options:
      workdir_parent:
      valid_volumes: []
      docker_host: unix:///var/run/docker.sock
      force_pull: false
