---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo-runner
data:
  config.yaml: |
    log:
      level: info
    runner:
      file: /data/.runner
      capacity: 1
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
    cache:
      enabled: false
    container:
      network: ""
      privileged: false
      options:
      workdir_parent:
      valid_volumes: []
      docker_host: tcp://localhost:2375
      force_pull: false
